@model  CLDV7111_PART1.Models.Booking
@{
    var events = ViewBag.Events as List<CLDV7111_PART1.Models.Event>;
    var venues = ViewBag.Venues as List<CLDV7111_PART1.Models.Venue>;
}

<h2>Create Booking</h2>
<form asp-action="Create">
    <div class="form-group">
        <label>Event</label>
        <select asp-for="EventId" class="form-control" asp-items="@(new SelectList(events, "EventId", "EventName"))"></select>
    </div>
    <div class="form-group">
        <label>Venue</label>
        <select asp-for="VenueId" class="form-control" asp-items="@(new SelectList(venues, "VenueId", "VenueName"))"></select>
    </div>
    <div class="form-group">
        <label>Booking Date</label>
        <input asp-for="BookingDate" type="date" class="form-control" />
    </div>
    <button type="submit" class="btn btn-success">Save</button>
</form>